/build/
/_deps/
/.geode/
*.geode
*.geode.check

.vs/
*.user
*.sln
*.vcxproj
*.filters
*.dir/
*.log
*.tlog
*.lastbuildstate
*.recipe
*.obj
*.pdb
*.ilk
*.idb

.DS_Store
Thumbs.db

*.bat
build.bat
GitHub.bat
release.bat