# Geode/Build artifacts
/build/
/_deps/
/.geode/
*.geode
*.geode.check

# Visual Studio junk
.vs/
*.user
*.sln
*.vcxproj
*.filters
*.dir/
*.log
*.tlog
*.lastbuildstate
*.recipe
*.obj
*.pdb
*.ilk
*.idb

# OS specific
.DS_Store
Thumbs.db